# HCL file
# https://github.com/hashicorp/hcl
# Put this file in /etc/webhook.hcl

bindaddress	= "" # 127.0.0.1
bindport	= "" # 4000
execfile	= "" # /tmp/script.sh
logfile		= "" # /var/log/webhook.log
key			= "" # GitHub webhook key
